{%  extends 'QuanLi/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Đơn Vị: {{donvi.TenDonVi}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_dv' donvi.id %}">Chỉnh Sửa Đơn Vị</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'home' %}">Về Trang Chính</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Thông Tin</h5>
			<hr>
			<p>Mã Đơn Vị: {{donvi.MaDonVi}}</p>
			<p>Tên Đơn Vị: {{donvi.TenDonVi}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Công Đoàn Viên</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{total_congdoan}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get" style=" width: 100%;">
				<table>
					<tr style="border-color: white">
						<th style="border: none">Mã Công Đoàn Viên</th>
						<th style="border: none">Tên Công Đoàn Viên</th>
					</tr>
					<tr>
						<td style="background-color: white; border: none ">{{myFilter.form.MaCDV}}</td>
						<td style="background-color: white; border: none">{{myFilter.form.HoTen}}</td>
						<td style="background-color: white; border: none"><button class="btn btn-primary" type="submit">Tìm kiếm</button></td>
					</tr>
				</table>

		  </form>
		</div>
	</div>

</div>
<br>
<h5>Công Đoàn Viên</h5>
<div class="row">
	<div class="col">
		<div class="card card-body">
		    <a href="{% url 'create_cdv' %}"> <button class="btn btn-primary" type="submit">Thêm Công Đoàn Viên</button></a>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Mã Công Đoàn Viên</th>
					<th>Tên Công Đoàn Viên</th>
					<th>Ngày Sinh</th>
					<th>Ngày Vào Ngành</th>
					<th>Sửa</th>
					<th>Xóa</th>
				</tr>


			{% for congdoan in congdoan %}
				<tr>
					<td>{{congdoan.MaCDV}}</td>
					<td>{{congdoan.HoTen}}</td>
					<td>{{congdoan.NgaySinh|date:'d-m-o'}}</td>
					<td>{{congdoan.NgayVaoNganh|date:'d-m-o'}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_cdv' congdoan.id %}">Sửa</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'del_cdv' congdoan.id %}">Xóa</a></td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}