<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Đơn Vị</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_donvi}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Công Đoàn Viên</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_cdv}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Tour</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_tour}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>